body{
    background-image: url(gambling.jpg);
    background-size: cover;
}


.reg{
    text-align: center;
    background-color: #262626;
    background-size: cover;
    color: aliceblue;
    float: left;
    width: 20%;
    height: 54%;
    margin-left: 40%;
    margin-top: 100;
    opacity: 70%;
    border-radius: 30px;
}

.text{
    color: white;
}

